<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <a class="navbar-brand" href="#">Members Only</a>      
      <ul class="nav navbar-nav ml-auto flex-row">
        <li class='nav-item'>
          <% if user_signed_in? %> 
            <button class="btn btn-outline-primary">
              <%= link_to('Log out', destroy_user_session_path, method: :delete)  %>
            </button>
          <% end %>
        </li>
        <li class='nav-item'>
          <% if !user_signed_in? && controller_name != 'sessions' %>
            <button class="btn btn-outline-primary">
              <%= link_to('Log In', new_user_session_path)  %>
            </button>
          <% end %>
        </li>
        <li class='nav-item'>
          <% if !user_signed_in? && controller_name != 'registrations' %>
            <button class="btn btn-outline-primary">
              <%= link_to('Sign Up', new_user_registration_path)  %>
            </button>
          <% end %>
        </li>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
